spectral_flux/SpectralFlux.xcodeproj/project.xcworkspace/contents.xcworkspacedata
spectral_flux/SpectralFlux.xcodeproj/project.xcworkspace/xcuserdata/carthach.xcuserdatad/UserInterfaceState.xcuserstate
spectral_flux/SpectralFlux.xcodeproj/xcuserdata/carthach.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
spectral_flux/SpectralFlux.xcodeproj/xcuserdata/carthach.xcuserdatad/xcschemes/SpectralFlux.xcscheme
spectral_flux/SpectralFlux.xcodeproj/xcuserdata/carthach.xcuserdatad/xcschemes/xcschememanagement.plist
